span.error {
    color: red;
}

span.success {
    color: green;
}

ul.output {
    list-style: none;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlayBox {
    margin: 150px auto auto auto;
    width: 350px;
    padding: 5px 5px 50px 5px;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: clip;
    border: 1px solid #aaaaaa;
}

.overlayHeader {
    border-radius: 15px 15px 0 0;
}

#overlayButtons {
    width: fit-content;
    float: right;
}

#overlayKeybindText {
    margin-bottom: 0px;
    text-align: center;
    min-height: 24px;
}

table {
    width: 100%;
}

table {
    border: 1px solid;
}

td input {
    width: 150px;
}

td {
    vertical-align: middle;
}

footer {
    text-align: right;
    font-size: 80%;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.navbar {
    background-color: #1b1c22;
}

.navbar a {
    color: #0638f6;
}

.navbar .nav-item {
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #e6e6e6;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}