body {
    padding-top: 35px;
    width: auto;
    background-color: #181818;
    font-family: "Arial", serif;
}

header {
    height: 75px;
    text-align: left;
}

h1 {
    color: #000000;
    text-align: center;
}

main {
    width: auto;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: block;
    font-size: 14pt;
}

/* Base Wrapper */
#wrapper {
    margin: auto;
    background-color: #FFFFFF;
    min-width: 700px;
    max-width: 1250px;
    border: 6px solid #6b6b6b;
}

/* Button Styling */
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
}

/* Edit: Green */
.button2 {
    background-color: #FF0000
}

/* Delete: Red */
.button3 {
    background-color: #008CBA;
}

/* Compile: Blue */
.button4 {
    background-color: #78b4ff
}

/* Create New Keybind: Aqua */
.button5 {
    background-color: #808080
}

/* View Keybinds: Grey (Undecided on color, will probably change. */
.button6 {
    background-color: #c7c7c7
}

/* Help Keybind: goldenrod */
.button7 {
    background-color: goldenrod;
}

#codeEditor, #lineCounter {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#lineCounter:focus-visible,
#codeEditor:focus-visible {
    outline: none;
}

footer {
    text-align: right;
    font-size: 80%;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/* Light Mode Toggle */
.light-mode {
    background-color: white;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}