<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="codeEditor.css"/>
    <link rel="stylesheet" href="editProject.css"/>
    <link rel="stylesheet" href="navbar.css"/>
    <script src="editProjectScript.js"></script>
    <script src="codeEditor.js"></script>
    <script src="navbarjQuery.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
</head>
<body onload="codeEditor()">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="/edit?id=-1" style="margin-left: 15px; margin-right: 15px">Java Hot Key</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" style="margin-left: 15px; margin-right: 15px">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/" style="margin-left: 15px; margin-right: 15px">Documentation</a>
        </li>
    </ul>
</nav>
<br>
<form method="post" class="container">
    <div class="row">
        <div class="col">
            <label hidden for="isCompile">Compiled</label>
            <input style="display: none" id="isCompile" name="isCompile" value="false"/>
            <label hidden for="th"></label>
            <input hidden th:field="${project.id}" id="th">
            <label for="projectName">Project Name: </label>
            <input id="projectName" th:field="${project.name}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Lua Code Input</h3>
            <label hidden for="keybindData">Keybind Data</label>
            <input hidden name="keybindData" id="keybindData">
        </div>
        <label>
            <textarea id='lineCounter' wrap=off readonly>1.</textarea>
            <textarea id='codeEditor' style="min-width: 100%" wrap='off' th:field="${project.lua}"></textarea>
        </label>
        <div>
            <input type="submit" value="Save" class="btn btn-primary">
            <input type="submit" value="Compile" class="btn btn-secondary"
                   onclick="document.querySelector('#isCompile').value=true;">
            <a href="/Documentation" class="btn btn-dark" style="color:white" target="_blank">Documentation</a>
        </div>
        <div class="col">
            <h2>Keybinds</h2>
            <table class="table">
                <thead>
                <tr>
                    <td style="width:166px">Function Name</td>
                    <td>Keybind</td>
                    <td style="width:173px">
                        <button onclick="addKeybind()" style="float: right;" type="button" class="btn btn-primary">Add
                        </button>
                    </td>
                </tr>
                </thead>
                <tbody id="keybindContainer"></tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${CompileData}!=null">
        <div class="card" style="padding: 0; margin:10px 5px 10px 0">
            <p class="card card-header">Compiler Output</p>
            <ul class="card-body output">
                <li th:each="msg: ${CompileData}">
                    <span th:class="${msg.isError? 'error':'success'}" th:text="${msg.Message}"></span>
                </li>
            </ul>
        </div>
    </div>
</form>
<div id="overlay">
    <div id="overlayBox">
        <div class="overlayHeader">
            <h1 style="text-align: center">Edit Keybind</h1>
        </div>
        <hr>
        <p id="overlayKeybindText">Start Typing</p>
        <small>Press Any Key.</small>
        <div class="form-check">
            <input id="overlayControl" class="form-check-input" onclick="toggleModifier(this)" name="ctrl"
                   type="checkbox">
            <label for="overlayControl" class="form-check-label">Control</label>
        </div>
        <div class="form-check">
            <input id="overlayAlt" class="form-check-input" onclick="toggleModifier(this)" name="alt" type="checkbox">
            <label for="overlayAlt" class="form-check-label">Alt</label>
        </div>
        <div class="form-check">
            <input id="overlayShift" class="form-check-input" onclick="toggleModifier(this)" name="shift"
                   type="checkbox">
            <label for="overlayShift" class="form-check-label">Shift</label>
        </div>
        <div id="overlayButtons">
            <button class="btn btn-danger" onclick="clearKeybind()">Clear</button>
            <button class="btn btn-primary" onclick="updateKeybind()">Done</button>
        </div>
    </div>
</div>

<template id="keybindTemplate">
    <tr>
        <td>
            <label hidden for="updateKeybindInput">Update Keybind Input</label>
            <input id="updateKeybindInput" type="text" class="funcName" onchange="updateKeybindInput()" value="Unnamed">
        </td>
        <td>
            <label class="keybindText">None</label>
        </td>
        <td>
            <button class="btn btn-primary" type="button" onclick="editKeybind(this.parentElement.parentElement)">
                Change
            </button>
            <button class="btn btn-danger" onclick="deleteKeybind(this.parentElement.parentElement)">Delete</button>
        </td>
    </tr>
</template>

<table id="keybindsLoader" style="display: none">
    <tr th:each="map: ${project.keymaps}">
        <td class="name" th:text="${map.functionName}"></td>
        <td>
            <ul>
                <li th:each="key: ${map.keymap}" th:text="${key}"></li>
            </ul>
        </td>
    </tr>
</table>
<footer style="align-content: center">
    Copyright &copy; 2022 University of Cincinnati, IT4045C<br>
    <a href="https://github.com/alphapixel1/Java-Hot-Key/" target="_blank" rel="noopener noreferrer">Check Out Our
        GitHub Repo!</a>
</footer>
</body>
</html>
