<!DOCTYPE html>
<html lang="en">
<head>
    <title>Java Hot Key</title>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href = "jhk.css">
    <script type= "text/javascript" src="uiFunctions.js"></script>
</head>
<body>
<div id="wrapper">
<h1>Java Hot Key</h1>
<label>
    <textarea rows="10" cols="40"></textarea>
</label>
    <!-- these buttons are unfinished demos. placed them and styled them for the purposes of UI demonstration -->
    <button class="button button1">Edit</button>
    <button class="button button2">Delete</button>
    <button class="button button3">Compile</button>
    <button class="button button4">Create Keybind</button>
    <button class="button button5">View Keybinds</button> <!-- this will be coded as a popup, it's not implemented yet because im not sure how i want to do it -->
    <button onclick="lightModeToggle()" class="button button6">Toggle Light Mode</button>
    <footer>
        Copyright &copy; 2022 University of Cincinnati, IT4045C<br>
        <a href="https://github.com/alphapixel1/Java-Hot-Key/">Check Out Our GitHub Repo!</a>
    </footer>
</div>
</body>
</html>
