<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Java Hot Key</title>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href = "jhk.css">
    <script type= "text/javascript" src="scripts.js"></script>
    <script src ="codemirror/lib/codemirror.js"></script>
    <link href ="codemirror/lib/codemirror.css" rel ="stylesheet"/>
    <script src="codemirror/mode/xml/xml.js"></script>
    <link href ="codemirror/theme/dracula.css" rel="stylesheet"/>


</head>
<body>
<div id="wrapper">
    <h1>Java Hot Key</h1>
    <label>
        <textarea id="editor" rows="10" cols="40"></textarea>
    </label>
    <script>
        let editor = CodeMirror.fromTextArea(document.getElementById('editor'),{
            mode:"xml",
            theme: "dracula",
            lineNumbers:true
        });
    </script>

    <form action="#" th:action="@{/saveProject}" th:object="${Project}" method = "GET">
        <button name= "Edit" class="button button1">Edit</button>
        <button name ="delete" class="button button2">Delete</button>
        <button name = "Compile" class="button button3">Compile</button>
        <button name = "Create" class="button button4">Create Keybind</button>
        <button onclick="keybindPopup()" class="button button5">View Keybinds</button> <!-- NEEDS TO BE DONE USING THYEMLEAF -->

    </form>
    <button onclick="lightModeToggle()" class="button button6">Light Mode</button>
    <!-- these buttons are unfinished demos. placed them and styled them for the purposes of UI demonstration -->
    <footer>
        Copyright &copy; 2022 University of Cincinnati, IT4045C<br>
        <a href="https://github.com/alphapixel1/Java-Hot-Key/">Check Out Our GitHub Repo!</a>
    </footer>
</div>
</body>
</html

