body {
    width: auto;
    background-color: #FFFFFF;
    font-family: "Arial", serif;
}

header {
    height: 75px;
    text-align: left;
}

h1 {
    color: #000000;
    text-align: center;
}

main {
    width: auto;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: block;
    font-size: 14pt;
}

#wrapper {
    margin: auto;
    background-color: #FFFFFF;
    min-width: 700px;
    max-width: 1250px;
    border: 6px solid #000000;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Edit: Green */
.button2 {background-color: #008CBA;} /* Blue: Compile */
.button3 {background-color: #FF0000} /* Delete: Red */

textarea {
    background: url(https://i.imgur.com/2cOaJ.png) no-repeat local;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
}