<!DOCTYPE html>
<html>
<head>
  <title>syntax highlighting</title>
  <script type="module" src="https://unpkg.com/@deckdeckgo/highlight-code@latest/dist/deckdeckgo-highlight-code/deckdeckgo-highlight-code.esm.js"></script>
</head>
<body>

<deckgo-highlight-code language ="css">
<code slot ="code">

 <!--implement css code-->
</code>

</deckgo-highlight-code>

<deckgo-highlight-code language ="html">
  <code slot ="code">
    &lt;p> Testing syntax highlight &lt;/p>
    <!--implement html code-->
  </code>

</deckgo-highlight-code>

<deckgo-highlight-code langauge ="js">
<code slot ="code">
  <!--implement js code-->
</code>

</deckgo-highlight-code>

</body>
</html>